---
---

@import "variables";

.navbar-default .navbar-header .navbar-brand {
  color: $mecate-primary;
}

.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
  color: $mecate-primary !important;
}

.navbar-default .navbar-header .navbar-brand  {
  img.white {
    display: block;
  }
  img.color {
    display: none;
  }
}

@media (min-width: 768px){
  .navbar-default.affix .navbar-header .navbar-brand {
    color: $mecate-primary;
    font-size: 14px;

    img.white {
      display: none;
    }
    img.color {
      display: block;
    }
  }

  .navbar-default.affix .nav>li>a:hover {
    color: $mecate-primary !important;
  }

}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: $mecate-primary;
}
.mecate-logo {
  margin-top: 70px;
  width: 80%;
}

.mecate-primary {
  background-color: $mecate-primary;
}
.navbar-default {
  background-color: $theme-dark;
}

.logo-mecate {
  margin-top: 70px;
}

section {
    padding: 70px 0px;
}
.section-short {
  padding: 30px 0px;

}

#description {
  margin-top: 60px;

}

#origin {
  padding: 50px 0px;

  p {
    color: white;
  }
}

#dyn {}
.btn-primary {
  color: #fff;
  background-color: $mecate-primary;
  border-color: $mecate-primary;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}


.button-sep, .register-btn, .info-btn {
  margin-top: 25px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.service-box img {
  margin-bottom: 25px;
  margin-top: 20px;
}
