---
---

@import "variables";
@import "mixins";

.navbar-default .navbar-header .navbar-brand {
  color: $mecate-primary;
}

.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
  color: $mecate-primary !important;
}

.navbar-default .navbar-header .navbar-brand  {
  img.white {
    display: block;
  }
  img.color {
    display: none;
  }
}

@media (min-width: 768px){
  .navbar-default.affix .navbar-header .navbar-brand {
    color: $mecate-primary;
    font-size: 14px;

    img.white {
      display: none;
    }
    img.color {
      display: block;
    }
  }

  .navbar-default.affix .nav>li>a:hover {
    color: $mecate-primary !important;
  }

}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: $mecate-primary;
}
.mecate-logo {
  margin-top: 70px;
  width: 80%;
}

.mecate-primary {
  background-color: $mecate-primary;
}
.navbar-default {
  background-color: $theme-dark;
}

.logo-mecate {
  margin-top: 70px;
}

section {
    padding: 70px 0px;
}
.section-short {
  padding: 30px 0px;

}

#description {
  margin-top: 60px;

}

#origin {
  padding: 50px 0px;

  p {
    color: white;
  }
}

#dyn {}
.btn-primary {
  color: #fff;
  background-color: $mecate-primary;
  border-color: $mecate-primary;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}


.button-sociedad, .register-btn, .info-btn {
  margin-top: 25px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}
.service-box img {
  margin-bottom: 25px;
  margin-top: 20px;
}
#mecate-bg {
  background-image: url("/img/portfolio/mecate.png");
  background-position: 70% 0;
  background-repeat: no-repeat;
  background-size: 50%;
}
.mecatl-bg {
  background-image: url("/img/portfolio/mecatl.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}
.maker-bg {
  background-image: url("/img/portfolio/makers.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}
.mecatl-bg>.container {
  background-color: transparentize($mecate-primary, .5);
  color:black;
}
.maker-box {
  background-color: transparentize(white, .5);
}
.maker-btn {
  background-color: transparentize($mecate-primary, .4);
  color:black;
}
.mecate-text {
  color: $mecate-primary;
}
#first {
  padding: 55px;
  p {
    font-size: 1.7em;
  }
}
#inicio2015 {
  background-image: url("/img/photos/mecate/main.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  margin-top: 65px;
  height: auto;
  h1 {
    height: 100%;
    color: $mecate-primary;
    font-size: 80px;
    vertical-align: bottom;
    padding-top: 25%;
  }
}
@media (min-width: 768px) {
  header {
      min-height: 0px;
  }
}

#projects {
  padding: 30px 30px;
  .project {
    min-height: 150px;
    img {
      margin: 0px auto;
    }
  }
}
.img-btn {
  margin: 0px 0px;
  padding: 0px 0px;
  border: 0px;
  img {
    @include gray();
  }
  img:hover {
    @include no-gray();
  }
}

// HOVER
.cuadro {
  padding: 0px;
  position: relative;
  overflow: hidden;
  // height: 200px;
  background-color:#cccccc;
  p {
    text-align:center;
  }
  img {
    z-index: 4;
  }
  .caption {
    position: absolute;
    top: 100%;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
    h4 {
      border-top:2px solid white;
      border-bottom:2px solid white;
      padding:10px;
    }
  }
  .blur {
    background-color: rgba(0,0,0,0.5);
    height: 900px;
    z-index: 5;
    position: absolute;
    width: 100%;
  }
  .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    // top:-20px;
    width: 100%;
  }
}
.cuadro:hover .caption {
  opacity: 1;
  transform: translateY(-145px);
  -webkit-transform:translateY(-145px);
  -moz-transform:translateY(-145px);
  -ms-transform:translateY(-145px);
  -o-transform:translateY(-145px);
}
.cuadro-pj {
  padding: 0px;
  position: relative;
  overflow: hidden;
  height: 150px;
  background-color: rgba(0, 0, 0, 0);
  p {
    text-align:center;
  }
  img {
    z-index: 4;
  }
  .caption {
    position: absolute;
    top: 100%;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
    h4 {
      border-top:2px solid white;
      border-bottom:2px solid white;
      padding:10px;
    }
  }
  .blur {
    background-color: rgba(0,0,0,0.5);
    height: 900px;
    z-index: 5;
    position: absolute;
    width: 100%;
  }
  .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    // top:-20px;
    width: 100%;
  }
}
.cuadro-pj:hover .caption {
  opacity: 1;
  transform: translateY(-145px);
  -webkit-transform:translateY(-145px);
  -moz-transform:translateY(-145px);
  -ms-transform:translateY(-145px);
  -o-transform:translateY(-145px);
}
.no-padding {
  padding: 0px 0px;
}
.gallery {
  position: relative;
  float: left;
  width:  100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
