---
---

@import "variables";

.navbar-default .navbar-header .navbar-brand {
  color: $sociedad-primary;
}

.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
  color: $sociedad-primary !important;
}

.navbar-default .navbar-header .navbar-brand  {
  img.white {
    display: block;
  }
  img.color {
    display: none;
  }
}

@media (min-width: 768px){
  .navbar-default.affix .navbar-header .navbar-brand {
    color: $sociedad-primary;
    font-size: 14px;

    img.white {
      display: none;
    }
    img.color {
      display: block;
    }
  }

  .navbar-default.affix .nav>li>a:hover {
    color: $sociedad-primary !important;
  }

}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: $sociedad-primary;
}
.sociedad-logo {
  margin-top: 70px;
  width: 80%;
}

.sociedad-primary {
  background-color: $sociedad-primary;
}
.navbar-default {
  background-color: $sociedad-dark;
}

.logo-sociedad {
  margin-top: 70px;
}

section {
    padding: 30px 0px;
}
.section-short {
  padding: 10px 0px;

}

#description {
  margin-top: 60px;
  p {
    font-size: 1.5em;
  }
}

#origin {
  padding: 0px 0px;
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 0px;
}

#dyn {}
.btn-primary {
  color: #fff;
  background-color: $sociedad-primary;
  border-color: $sociedad-primary;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}


.button-sep, .register-btn, .info-btn {
  margin-top: 25px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.service-box img {
  margin-bottom: 25px;
  margin-top: 20px;
}
.text-sociedad {
  color: $sociedad-primary;
}
.bg-sociedad {
  background-color: $sociedad-primary;
  color: white;
}
#in-img {
  top: 120px;
  z-index: 1;
  background-color: transparentize(Brown , .7);
  right: 20px;
  p {
    font-size: 1.2em;
    font-family: 'Merriweather';
    font-weight: bold;
  }
}
.btn {
  background-color: $sociedad-secondary;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
  :hover {
    background-color: $sociedad-secondary;
  }
  .btn-primary {
    :hover, :focus {
      background-color: $sociedad-secondary;
    }
  }
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .btn-primary {
  background-color: $sociedad-secondary;
  border-color: darken($sociedad-secondary, .5);
}
.arrow {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
.arrow-text {
  display: inline-block;
  max-width: 80%;
  p {
    font-size: 1.5em;
  }
}
.content-header {
  text-transform: uppercase;
}
.li {
  font-size: 1.1em;
  margin: 5px 0px;
}
.who-content {
  font-size: 1.3em;
}
.mecate-primary {
  background-color: $mecate-primary;
}
#convocatoria {
  p, li {
    font-size: 1.3em;
  }
  ul {
    margin-bottom: 40px;
  }
}
.height140 {
  height: 140px;
}
.whitehr {
  width: 100%;
  color: white;
  border-color: white;
  border-width: 2px;
  max-width: 100%;
}
