---
layout: default
lang: en
---

{% assign t = site.data.main_site[page.lang] %}
{% assign menu = site.data.menu[page.lang] %}

<section id="objetivos">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ menu.who }}</h2>
        <hr class="primary">
          {% for content in t.who_content %}
          <p class="section-main-text">
            {{ content }}
          </p>
          {% endfor %}

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for target in t.who_target %}
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x wow bounceIn text-primary">
            <img src="{{ target.img }}" />
          </i>
          <p class="text-muted">{{ target.content }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

    <section class="bg-primary" id="metodologia">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{{ menu.how }}</h2>
                    <hr class="light">
                    {% for content in t.how_content %}
                    <p class="text-faded">
                      {{ content }}
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


    <section id="programas">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Programas</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <div class="portfolio-box">
                <img class="img-responsive" src="img/profesores.jpg" alt="" />
                <div class="portfolio-box-caption">
                  <p class="portfolio-box-caption-content">Contribuimos a los proyectos de investigación de los docentes de la Escuela de Gobierno y Transformación Pública, desarrollando herramientas de análisis, difusión del conocimiento, entre otros que deriven en emprendimiento público.</p>
                </div>
              </div>
              <h4>Emprendimiento Público<br/> para Profesores investigadores.</h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <div class="portfolio-box">
                <img class="img-responsive" src="img/sociedad-emprendedores.jpg" alt="" />
                <div class="portfolio-box-caption">
                  <p class="portfolio-box-caption-content">Impulsamos el ecosistema de emprendedores e intraemprendedores públicos. Durante un año los estudiantes recibirán mentoría continua, desarrollarán prototipos y productos, obtendrán guía para ejecutar pilotos y experimentar en campo, y se les vinculará con socios o clientes para lanzar el proyecto al mercado.</p>
                </div>
              </div>
              <h4>Sociedad de Emprendedores<br/> Públicos</h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <div class="portfolio-box">
                <a href="mecate">

                <img class="img-responsive" src="img/logos/mecate-prog.png" alt="" />
                <div class="portfolio-box-caption">
                  <p class="portfolio-box-caption-content">Convocamos a estudiantes excepcionales de posgrado de las mejores universidades del mundo, a ciudadanos distinguidos y a nuestros estudiantes para que, en el plazo de una semana, generen ideas y desarrollen proyectos encaminados a la transformación social.</p>
                </div>
              </a>

              </div>
              <h4>MECATE<br/>International Public Entrepreneurship Program</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-grey" id="contacto">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Contacto</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            <div class="service-box">
              <img class="img-responsive contact-circle" src="img/perfil/eb.jpg" alt="" />
              <h4>Edgar Barroso Merino</h4>
                <div class="info">
                  <p>Director</p>
                  <p> <a href="mailto:edgarbarroso@itesm.mx"><i class="fa fa-envelope-o wow bounceIn" data-wow-delay=".1s"></i></a> </p>
                </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            <div class="service-box">
                <img class="img-responsive contact-circle" src="img/perfil/gm.jpg" alt="" />
                <h4>Glenda Michel Gutiérrez</h4>
                <div class="info">
                  <p>Coordinadora</p>
                  <p>
                    <p><a href="mailto:glenda.michel@itesm.mx"><i class="fa fa-envelope-o wow bounceIn" data-wow-delay=".1s"></i></a> </p>
                  </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
