---
layout: default
lang: en
---

{% assign t = site.data[page.lang].main_site %}
{% assign menu = site.data.menu[page.lang] %}

{% assign title0 = menu[0].content %}
{% include let/who.html menu_content=title0 who=t.who id='objetivos' size='4' %}
{% assign title1 = menu[1].content %}
{% include let/how.html menu_content=title1 how_content=t.how_content %}
{% assign title2 = menu[2].content %}
{% include let/prog.html menu_content=title2 project=t.projects %}
{% assign title3 = menu[3].content %}
{% include let/contact.html menu_content=title3 contacts=t.contacts %}
