---
layout: default
lang: es
---

{% assign t = site.data.main_site[page.lang] %}
{% assign menu = site.data.menu[page.lang] %}

<section id="objetivos">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ menu.who }}</h2>
        <hr class="primary">
          {% for content in t.who_content %}
          <p class="section-main-text">
            {{ content }}
          </p>
          {% endfor %}

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for target in t.who_target %}
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x wow bounceIn text-primary">
            <img src="{{ target.img }}" />
          </i>
          <p class="text-muted">{{ target.content }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

    <section class="bg-primary" id="metodologia">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{{ menu.how }}</h2>
                    <hr class="light">
                    {% for content in t.how_content %}
                    <p class="text-faded">
                      {{ content }}
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


    <section id="programas">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ menu.programs }}</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          {% for project in t.projects %}
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <div class="portfolio-box">
                {% if project.link %} <a href="{{ project.link }}"> {% endif %}
                <img class="img-responsive" src="{{ project.img }}" alt="" />
                <div class="portfolio-box-caption">
                  <p class="portfolio-box-caption-content">{{ project.content }}</p>
                </div>
                {% if project.link %} </a> {% endif %}
              </div>
              <h4>{{ project.title }}</h4>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="bg-grey" id="contacto">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Contacto</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            <div class="service-box">
              <img class="img-responsive contact-circle" src="img/perfil/eb.jpg" alt="" />
              <h4>Edgar Barroso Merino</h4>
                <div class="info">
                  <p>Director</p>
                  <p> <a href="mailto:edgarbarroso@itesm.mx"><i class="fa fa-envelope-o wow bounceIn" data-wow-delay=".1s"></i></a> </p>
                </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            <div class="service-box">
                <img class="img-responsive contact-circle" src="img/perfil/gm.jpg" alt="" />
                <h4>Glenda Michel Gutiérrez</h4>
                <div class="info">
                  <p>Coordinadora</p>
                  <p>
                    <p><a href="mailto:glenda.michel@itesm.mx"><i class="fa fa-envelope-o wow bounceIn" data-wow-delay=".1s"></i></a> </p>
                  </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
