---
layout: mecate
lang: es
---

{% assign t = site.data[page.lang].mecate %}
<section id="inicio">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2  text-center">
        <img class="mecate-logo" src="{{ t.logo.link }}" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p id="description">
          {{ t.home.description }}
        </p>
        <p >
          {{ t.home.objectives.msg }}
        </p>
      </div>
    </div>
  </div>
</section>
<div id="mecate-bg">
<section>
  <div class="container">
    {% for target in t.home.objectives.list %}
    <div class="row">
      <div class="col-lg-4 col-md-6 {% if target.float == 'right' %} col-md-offset-6 col-lg-offset-8 {% endif%}">
        <p class="text-{{ target.float }} {% if target.color %} text-sep {% endif %}">{{ target.content }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section class="mecatl-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p id="origin">
          {{ t.origin.content }}
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-short bg-grey">
  <div class="container">
    <div class="row">

    </div>
  </div>
</section>
</div>
<section id="registro" class="section ">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>
          {{ t.registry.title }}
        </h2>
        {% for content in t.registry.content %}
          <p class="text-muted">{{ content }} </p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
