---
layout: mecate2015
lang: es
---


{% assign t = site.data[page.lang].2015 %}
<header id="inicio2015">
  <h1>{{ t.inicio.title }}</h1>
</header>

<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2  text-center">
        <h2 class="text-muted">{{ t.proj }}</h2>
      </div>
    </div>
    <div class="row">
      {% include snippets/projects.html projects=t.projects size='4'%}
    </div>
  </div>
</section>

<section id="mecateros" class="section-short mecate-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4  text-center">
        <h2>{{ t.meca }}</h2>
      </div>
    </div>
    <div class="row">
      {% include snippets/mecateros.html mecateros=t.mecateros size='3'%}
    </div>
  </div>
</section>

<section id="gallery" class="section-short">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 text-center">
        <h2>{{ t.gallery.title }}</h2>
      </div>
    </div>
    <div class="row">
      {% include snippets/gallery.html pictures=t.gallery.pictures size='4'%}
    </div>
  </div>
</section>

<section id="gallery" class="section-short">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 text-center">
        <h2>{{ t.ref-title }}</h2>
      </div>
    </div><!-- /.row -->

    <!-- Referencias en medios -->
    <div class="row">

      <div class="col-md-4 col-md-offset-4 text-center">
        <h4>{{ t.publics.title }}</h4>
      </div>

      {% for pub in t.publics.elements %}
        <div class="col-lg-4 col-lg-offset-4 text-center">
          <h2 class="mecate-text"><a href="{{ pub.link }}">{{ pub.title }}</a><small>{{ pub.ref }}</small></h2>
        </div>
      {% endfor %}
      
    </div><!-- /.row -->

  </div><!-- /.container -->
</section>
