---
layout: mecate
lang: es
---


{% assign t = site.data[page.lang].2015 %}
<section id="inicio2015">
  <h1>{{ t.inicio.title }}</h1>
</section>

<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4  text-center">
        <h3>{{ t.proj }}</h3>
      </div>
    </div>
    <div class="row">
      {% include snippets/projects.html projects=t.projects size='4'%}
    </div>
  </div>
</section>

<section id="mecateros" class="section-short mecate-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4  text-center">
        <h2>{{ t.meca }}</h2>
      </div>
    </div>
    <div class="row">
      {% include snippets/mecateros.html mecateros=t.mecateros size='4'%}
    </div>
  </div>
</section>

<section id="gallery" class="section-short">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4  text-center">
        <h2>{{ t.gallery.title }}</h2>
      </div>
    </div>
    <div class="row">
      {% include snippets/gallery.html pictures=t.gallery.pictures size='4'%}
    </div>
  </div>
</section>

<section id="gallery" class="section-short">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4  text-center">
        <h2>{{ t.ref.title }}</h2>
      </div>
    </div>
    {% for subject in t.ref.subj %}
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4  text-center">
          <h2 class="mecate-text">{{ subject.title }}</h2>
        </div>
        {% for element in subject.elements %}
          <div class="col-lg-6 col-lg-offset-3  text-center">
            {{ element }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>
