
<footer class="bg-dark">
  <div class="container text-center">
    <img src="img/logos/EGob.png">
    <img src="img/logos/let.png">
    <img src="img/logos/mecate.png">
  </div>
  <p class="name-address">Escuela de Gobierno y Transformación Pública, Tecnológico de Monterrey. Campus Santa Fe - Carlos Lazo 100, Col. Santa Fe, C.P. 01389, México D. F., México.</p>
</footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
