// Variables

$theme-primary: #e4002e;
$theme-secondary: #e53d24;
$theme-dark: #222;
$theme-gray: #777;

$mecate-primary: #F2D44F;
$mecate-dark: #222;

$sociedad-primary: #005396;
$sociedad-secondary: #2c3456;
$sociedad-dark: #222;
