// Variables

// $theme-primary: #e53d24;
$theme-primary: #e4002e;
$theme-secondary: #e53d24;
$theme-dark: #222;

$mecate-primary: #F2D44F;
$mecate-dark: #222;

$sep-primary: #005396;
$sep-secondary: #2c3456;
$sep-dark: #222;
