---
layout: sep
lang: es
---

{% assign t = site.data[page.lang].sep %}
<section id="inicio">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2  text-center">
        <img class="sep-logo" src="{{ t.logo.link }}" alt="logo" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p id="description">
          {{ t.home.description }}
        </p>
        <p >
          {{ t.home.how.msg }}
        </p>
      </div>
      {% include snippets/icon_description.html elements=t.home.how.list size="3" %}
    </div>
  </div>
</section>
<section class="section-short bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="{{ t.home.how.img }}" alt="plan" class="img-responsive">
      </div>
      <div class="col-lg-6 text-justify">
        <p id="origin">
          {{ t.plan.content }}
        </p>
      </div>
    </div>
  </div>
</section>
<section id="registro" class="bg-primary ">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>
          {{ t.registry.title }}
        </h2>
        {% for content in t.registry.content %}
          <p>{{ content }}</p>
        {% endfor %}
        <ul class="text-left">
          {% for req in t.registry.reqs %}
            <li>{{ req }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
