<section class="bg-grey" id="contacto">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ include.menu_content }}</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for contact in include.contacts %}
      <div class="col-lg-6 col-md-6 col-sm-6 text-center">
        <div class="service-box">
          <img class="img-responsive contact-circle img-circle center-block" src="{{ contact.photo }}" alt="" />
          <h4>{{ contact.name }}</h4>
            <div class="info">
              <p>{{ contact.title }}</p>
              <p> <a href="mailto:{{ contact.email}}"><i class="fa fa-envelope-o wow bounceIn" data-wow-delay=".1s"></i></a> </p>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
