<section id="emprendimiento" class="section-short">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="wide">
        <h2 class="text-primary">{{ include.menu.name }}</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 dashed">
        <p>{{ include.emp.content[1] }}</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 dashed">
        <p>{{ include.emp.content[2] }}</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-5 col-md-offset-5 col-sm-offset-5 dashed">
        <p>{{ include.emp.content[3] }}</p>
      </div>
    </div>
  </div>
</section>
