
<section class="section-short" id="metodologia">
  <div class="container">
    <div class="row">
      <hr class="wide">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{{ include.menu_content }}</h2>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary">
  <div class="containet bg-primary"
    {% for method in include.how_content %}
    <div class="row">
      <div class="col-lg-4 col-lg-offset-{{ method.offset }} text-center">
        <h4 class="section-heading">
          {{ method.title }}
        </h4>
        <p class="text-justify">
          {{ method.content }}
        </p>
      </div>
    </div>
    {% endfor %}

  </div>
</section>
