{% unless include.size_container %}
  {% assign include.size_container = 6 %}
  {% assign include.size_offset = 3 %}
{% endunless %}

<section
  {% if include.id %} id="{{ include.id }}" {% endif %}
  {% if include.class %} class="{{ include.class }}" {% endif %} >

  <div class="container">
    <div class="row">
      <div class="col-md-{{ include.size_container }} col-md-offset-{{ include.size_offset }} text-center">
        {% if include.menu_content %}
        <h2 class="section-heading">{{ include.menu_content }}</h2>
        <hr class="primary">
        {% elsif include.logo %}
          <div class="col-lg-12  text-center">
            <img class="include.logo_class" src="{{ include.logo }}" alt="" />
          </div>
        {% endif %}
        {% include snippets/list_paragraphs.html class="section-main-text text-justify" content=include.who.content %}
        {% include snippets/image_caption.html elements=include.who.hist size='6'%}
        {% include snippets/modal.html modal=include.who.modal name="conocemas" %}
      </div>
    </div>
  </div>
  <br>
  {% include snippets/list_paragraphs.html class="text-center" content=include.who.obj %}
  {% include snippets/icon_description.html elements=include.who.target size=include.size %}
</section>
