<!DOCTYPE html>
<html>

{% include start_head.html %}

<link rel="stylesheet" href="/css/creative.css" type="text/css">
<link rel="stylesheet" href="/css/pages.css" type="text/css">

<meta property="og:title" content="MECATE International Public Entrepreneurship Program">
<meta property="og:site_name" content="Laboratorio de Emprendimiento y Transformación.">
<meta property="og:url" content="http://let-emprendimientopublico.mx/mecate">
<meta property="og:description" content="Diseñado por el Laboratorio de Emprendimiento y Transformación (LET) de la Escuela de Gobierno y Transformación Pública, Mecate es un programa internacional de emprendimiento público que convoca a estudiantes de posgrados de distintas universidades de México y del mundo, así como a ciudadanos y emprendedores excepcionales, para realizar propuestas con impacto social en México.">
<meta property="og:type" content="website">
<meta property="og:image" content="http://let-emprendimientopublico.mx/img/meta.jpg">

<meta name="twitter:card" content="player">
<meta name="twitter:site" content="@LETEmprende">
<meta name="twitter:title" content="MECATE International Public Entrepreneurship Program">
<meta name="twitter:description" content="Diseñado por el Laboratorio de Emprendimiento y Transformación (LET) de la Escuela de Gobierno y Transformación Pública, Mecate es un programa internacional de emprendimiento público que convoca a estudiantes de posgrados de distintas universidades de México y del mundo, así como a ciudadanos y emprendedores excepcionales, para realizar propuestas con impacto social en México.">
<meta name="twitter:image:src" content="http://let-emprendimientopublico.mx/img/logos/mecate-prog.png">
<meta name="twitter:player" content="">

{% include end_head.html %}
<body id="page-top " >
  {% include mecate-nav.html  %}

  {{ content }}

  {% include footer.html %}

</body>

</html>
