<div class="container">
  <div class="row">
    {% for target in include.elements %}
      {% if target.float == 'left' %}
      <div class="col-lg-{{include.size}} col-md-6 text-{{ target.float }} height140">
        <div class="service-box">
          <div class="arrow">
            <i class="fa fa-3x wow bounceIn text-sociedad arrow">
              <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </i>
          </div>
          <div class="arrow-text">
            <p class="text-{{ target.float }} {% if target.color %} text-sociedad {% endif %} arrow-text">{{ target.content }}</p>
          </div>
        </div>
      </div>

      {% else %}
      <div class="col-lg-{{include.size}} col-md-6 text-{{ target.float }} height140">
        <div class="service-box">
          <div class="arrow-text">
            <p class="text-{{ target.float }} {% if target.color %} text-sociedad {% endif %}">{{ target.content }}</p>
          </div>
          <div class="arrow">
            <i class="fa fa-3x wow bounceIn text-sociedad ">
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </i>
          </div>
        </div>
      </div>

      {% endif %}
    {% endfor %}
  </div>
</div>
