{% for mecatero in include.mecateros %}
  <div class="col-sm-{{ include.size }} text-center no-padding">

    <div class="cuadro">
      <p class="img-btn">
        <img src="{{ mecatero.img }}" class="img-responsive img-mecatero"/>
      </p>
      <div class="caption">
        <div class="blur"></div>
        <div class="caption-text">
        <h4>{{ mecatero.name }}</h4>
        <p>{{ mecatero.bg }}</p>
        <button type="button" class="btn btn-small " data-toggle="modal" data-target="#{{ mecatero.name | slugify }}">
          <span class="glyphicon glyphicon-plus">INFO</span>
        </button>
        </div>
      </div>
    </div>

    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="{{ mecatero.name | slugify }}" tabindex="-1" role="dialog" aria-labelledby="{{ mecatero.name | slugify }}Label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="{{ mecatero.name | slugify }}Label">{{ mecatero.name }} - {{ mecatero.country }}
            <br>
            <small>{{ mecatero.bg }}</small></h2>
          </div>
          <div class="modal-body">
            <p class="text-justify">{{ mecatero.info }}</p>
            <p></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endfor %}
