<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#conocemas">
  Conoce m&aacute;s
</button>

<!-- Modal -->
<div class="modal fade" id="conocemas" tabindex="-1" role="dialog" aria-labelledby="conocemas">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">¿DE D&Oacute;NDE VIENE LET?</h4>
      </div>
      <div class="modal-body text-left">
        En el año 2013, después de una importante experiencia en el servicio público, el Dr. Alejandro Poiré fue nombrado Decano de la Escuela de Gobierno y Transformación Pública para darle una nueva visión: contribuir a solucionar los problemas más relevantes de nuestro entorno.
La idea esencial para lograrlo es que la Escuela de Gobierno sea el espacio donde todos los líderes transformadores, de cualquier ámbito, converjan en la construcción de mejores realidades. Pero más allá de ser los integradores de este ecosistema, la idea crucial fue detonar estas soluciones a través del emprendimiento y la innovación.
En la Escuela de Gobierno creemos que el emprendimiento es la vía para generar desarrollo local, regional e incluso global. Tenemos la capacidad de generar el conocimiento y formar el capital humano que producirán las propuestas para resolver los problemas más apremiantes que enfrentamos. Queremos que en nuestra Escuela se acerquen y nazcan los emprendedores públicos que desarrollarán las nuevas formas de hacer política, ciudadanía y transformarán la sociedad, a través de la innovación social y la ideación de nuevos modelos de negocio, de vinculación, de colaboración.
Después de conducir cambios sustanciales en los pilares académicos, educativos y de investigación, a finales del 2014 se concibió el diseño de otro pilar responsable de generar el impacto social deseado: la dirección en Emprendimiento Público
Fue así como el Doctor Edgar Barroso, compositor, educador, consultor y emprendedor, especialista además en innovación y colaboración en el ámbito artístico y social, llegó a las filas de la Escuela. Junto con Glenda Michel, mercadóloga con experiencia en sector público y apasionada por el bien social, se propusieron la idea de un laboratorio para originar el emprendimiento público.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
