{% unless include.size_container %}
  {% assign include.size_container = 12 %}
{% endunless %}

<section
  {% if include.id %} id="{{ include.id }}" {% endif %}
  {% if include.class %} class="{{ include.class }}" {% endif %} >

  <div class="container">
    <div class="row">
      <div class="col-lg-{{ include.size_container }} text-center">
        {% if include.title %}
        <h2 class="section-heading">{{ include.title }}</h2>
        <hr class="primary">
        {% elsif include.logo %}
          <div class="col-lg-12  text-center">
            <img class="include.logo_class" src="{{ include.logo }}" alt="" />
          </div>
        {% endif %}
        {% include snippets/list_paragraphs.html class="section-main-text" content=include.content %}
      </div>
    </div>
  </div>
  {% include snippets/icon_description.html elements=include.elements size=include.size %}
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-lg-{{ include.size_container }} text-center">
        {% include snippets/list_paragraphs.html class="section-main-text" content=include.last %}
        {% include snippets/modal.html %}
      </div>
    </div>
  </div>
</section>
